<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Taxi Loggerについて</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3>Taxi Loggerについて</h3>
    <span *ngIf="appName">
    <ul>
        <li>アプリケーション名:{{appName}}</li>
        <li>パッケージ名:{{packageName}}</li>
        <li>バージョン:{{versionNumber}}</li>
    </ul>
    </span>
    <a href="https://itaxi.tokyo/app/payment.html" target="_blank">任意の利用料(チップ)を開発者に支払う</a>
    <div *ngIf="!appName" class="warning">
        ご利用の環境({{device}})ではアプリケーションのバージョン等の情報を取得出来ません。
    </div>
</ion-content>