page-logger {
    .grid {
        // padding: 0;
        padding: 5px;
    }
    ion-datetime {
        font-size: 18px;
        margin-top: -18px;
        margin-left: -14px;
        text-align: center;
        padding: 0;
    }
    .datetime-md {
        padding: 5px 0px 5px 13px;
    }
    .statusButton {
        padding: 1px;
    }
    .wip {
        background: palegreen;
        padding: 0;
    }
    .timer {
        text-align: right;
        font-size: 18px;
    }
    .clock {
        text-align: center;
        font-size: 19px;
        margin-top: -16px;
        padding: 0;
    }
    .address {
        font-size: 20px;
        margin-top: -12px;
        margin-bottom: 10px;
    }
    .logCol {
        font-size: 16px;
        padding-left: 15px;
        padding-top: 10px;
    }
    .button-inner {
        font-size: 22px;
    }
    .reminder {
        margin-top: -14px;
        margin-bottom: -14px;
    }
    .altitude {
        font-size: 20px;
        padding-top: 14px;
    }
    .datepicker {
        .item-inner {
            margin: -50px;
            padding-right: 0px!important;
            border-bottom: none;
        }
        .item-block {
            padding-left: 0px;
            padding-right: 0px;
        }
        .button-innter {
            font-size: 18px;
        }
    }
    a[disabled],
    button[disabled],
    [ion-button][disabled] {
        color: black;
    }
    [text-center] {
        margin: 10px;
    }
}