<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Taxi Logger</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p *ngIf="ready != requires" text-center class="warning">
        準備中です。暫くお待ちください。({{ready}}/{{requires}})
    </p>
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                乗務日<br>
                <ion-item>
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="driveDate" (ngModelChange)="changeStrageValue('DriveDate', $event)"></ion-datetime>
                </ion-item>
                {{clock["gengou"]}} {{clock["clock"]}}
            </ion-col>
            <ion-col col-4>
                出庫時刻<br>
                <ion-item>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="CarUnloadingTime" (ngModelChange)="changeStrageValue('CarUnloadingTime', $event)" class="myStyle"></ion-datetime>
                </ion-item>
                帰庫予定時刻<br>
                <ion-item>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="CarReturnBoxTime" (ngModelChange)="changeStrageValue('CarReturnBoxTime', $event)" class="myStyle"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <span *ngIf="isDriving || isBreak">走行 {{drivingTime}}</span>
                <ion-col *ngIf="!isDriving && !isBreak"><button ion-button color="danger" [disabled]="ready != requires" (click)="startDrivingTime()">乗務開始</button></ion-col>
                <ion-col *ngIf="isDriving && !isBreak"><button ion-button color="danger" [disabled]="ready != requires||!isGetIn" (click)="jobCloseoutConfirm()">乗務終了</button></ion-col>
                <span *ngIf="isBreak"><br>休憩 {{breakTime}}<br></span>
                <span *ngIf="isDriving || isBreak">総休憩時間 : {{elapsedBreakTime}}</span>
                <ion-col *ngIf="!isBreak && isDriving"><button ion-button [disabled]="ready != requires||!isGetIn" (click)="startBreakTime()">休憩開始</button></ion-col>
                <ion-col *ngIf="isBreak"><button ion-button [disabled]="ready != requires||!isGetIn" (click)="stopBreakTime()">休憩終了</button></ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p class="warning">
        これ以降、住所は既定値を表示しています。
    </p>
    <ion-grid>
        <ion-row>
            <ion-col>
                現在地: 〒151-0071 東京都渋谷区本町3丁目5<br> 最終確認時間: 20:09:08 誤差: 18m以内
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="isDriving && !isBreak">
        <ion-row>
            <ion-col col-3>
                <button ion-button block color="dark" [disabled]="ready != requires||!isCancel" (click)="removePendingData()">取消</button>
            </ion-col>
            <ion-col col-9>
                <button ion-button block color="danger" [disabled]="ready != requires||!isRegist" (click)="registPendingToDB()">登録</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <button ion-button block [disabled]="ready != requires||!isGetIn" (click)="updatePending('GetIn')">乗車</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button block [disabled]="ready != requires||!isVia" (click)="updatePending('Via')">経由</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button block [disabled]="ready != requires||!isGetOut" (click)="updatePending('GetOut')">降車</button>
            </ion-col>
        </ion-row>
        <!-- 登録中データの表示 -->
        <ion-row *ngIf="isDriving && !isBreak">
            <ion-col col-4 *ngIf="pending['GetInTime']">
                {{pending["GetInTime"]}}<br> <span *ngIf="pending['GetInTime']">東)新宿区新宿2丁目</span>
            </ion-col>
            <ion-col col-4 *ngIf="pending['ViaData']">
                <span *ngFor="let via of pending['ViaData']">
                    {{via.time}}<br> 東)中野区弥生町2丁目<br>
                </span>
            </ion-col>
            <ion-col col-4 *ngIf="pending['GetOutTime']">
                {{pending["GetOutTime"]}}<br> <span *ngIf="pending['GetOutTime']">東)杉並区成田東2丁目</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p class="warning">
        これ以降、肝心のログ機能は未実装です。
    </p>
    <!-- LOG -->
    <!-- https://v2.angular.io/docs/ts/latest/guide/displaying-data.html#!#ngFor -->
    <ion-grid>
        <ion-row *ngFor="let n of [12,11,10,9,8,7,6,5,4,3,2,1]">
            <ion-col col-1>
                <button ion-button block class="logSelect" [disabled]="isDriving && !isBreak" (click)="underConstuctionAlert()">{{n}}</button>
            </ion-col>
            <ion-col col-11 class="logCol">
                <ion-grid>
                    <ion-row>
                        <ion-col col-4>
                            HH:MM:SS<br> 東)新宿区新宿2丁目
                        </ion-col>
                        <ion-col col-4>
                            HH:MM:SS<br> 東)中野区弥生町2丁目
                        </ion-col>
                        <ion-col col-4>
                            HH:MM:SS<br> 東)杉並区成田東2丁目
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- /LOG -->
</ion-content>