<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>乗務履歴: {{date}} #{{number}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3>乗務履歴: {{date}} #{{number}}</h3>
    <p>{{date}} #{{number}}の詳細
    </p>
    <ion-grid *ngIf="hasHistory">
        <ion-row *ngFor="let n of history" align-items-start>
            <ion-col>
                <ion-row>
                    <ion-col>
                        乗車:
                        <br> 時間:{{n["GetInTime"]}}
                        <br> 場所:{{n["GetInAddress"]}}
                        <br> メモ:{{n["GetInMemo"]}}
                        <br>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="hasViaHistory">
                    <ion-col>
                        <ion-row *ngFor="let x of viaHistory; let j = index;">
                            <ion-col>
                                経由({{j+1}}):
                                <br>時間:{{x["time"]}}
                                <br>場所:{{x["address"]}}
                                <br>メモ:{{x["memo"]}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                経由全体のメモ:{{n["ViaMemo"]}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        降車:
                        <br> 時間:{{n["GetOutTime"]}}
                        <br> 場所:{{n["GetOutAddress"]}}
                        <br> メモ:{{n["GetOutMemo"]}}
                        <br>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button block (click)="showViaGoogleMap($event,date,number)"><ion-icon name="map"></ion-icon>　経路をGoogle Mapで表示する</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="warning">
                        「場所」の後ろに*印がある記録は住所を取得してから時間がかかっているため、実際の場所と異なる可能性が高いです。「データを修正する」を選択すると、Google Mapで実際の位置を表示出来ますので、必要であればその情報を参考にして「場所」を書き換えてください。
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button block color="danger" (click)="updateData($event,date,number);"><ion-icon name="paper"></ion-icon>　データを修正する</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-col *ngIf="isTwitter">
                                <button ion-button block color="default" (click)="shareData($event,date,number,'Twitter', 'com.twitter.android');"><ion-icon name="share"></ion-icon>　Twitter</button>
                            </ion-col>
                            <ion-col *ngIf="isTweetCaster">
                                <button ion-button block color="default" (click)="shareData($event,date,number,'TweetCaster', 'com.handmark.tweetcaster');"><ion-icon name="share"></ion-icon>　TweetCaster</button>
                            </ion-col>
                            <ion-col *ngIf="isLine">
                                <button ion-button block color="default" (click)="shareData($event,date,number,'Line', 'jp.naver.line.android');"><ion-icon name="share"></ion-icon>　Line</button>
                            </ion-col>
                            <!-- <ion-col *ngIf="isFacebook">
                                <button ion-button block color="default" (click)="shareData($event,date,number,'Facebook', 'com.facebook.katana');"><ion-icon name="share"></ion-icon>　Facebook</button>
                            </ion-col> -->
                            <ion-col *ngIf="isFacebookMessenger">
                                <button ion-button block color="default" (click)="shareData($event,date,number,'Facebook', 'com.facebook.orca');"><ion-icon name="share"></ion-icon>　Facebook Messenger</button>
                            </ion-col>
                        </ion-row>
                        <p>事前にGoogle Mapの表示内容を画像として保存しておくと、メッセージアプリによっては画像を添付できます。</p>
                        <p class="warning">住所や地図を含め、お客様の個人情報を公開しないよう注意してください。</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>