<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>乗務履歴: {{date}} #{{number}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3>乗務履歴: {{date}} #{{number}}</h3>
    <p>{{date}} #{{number}}の詳細
    </p>
    <ion-grid *ngIf="hasHistory">
        <ion-row *ngFor="let n of history" align-items-start>
            <ion-col>
                <ion-row>
                    <ion-col>
                        乗車:
                        <br> 時間:{{n["GetInTime"]}}
                        <br> 場所:{{n["GetInAddress"]}}
                        <br> メモ:{{n["GetInMemo"]}}
                        <br>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="hasViaHistory">
                    <ion-col>
                        <ion-row *ngFor="let x of viaHistory; let j = index;">
                            <ion-col>
                                経由({{j+1}}):
                                <br>時間:{{x["time"]}}
                                <br>場所:{{x["address"]}}
                                <br>メモ:{{x["memo"]}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                経由全体のメモ:{{n["ViaMemo"]}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        降車:
                        <br> 時間:{{n["GetOutTime"]}}
                        <br> 場所:{{n["GetOutAddress"]}}
                        <br> メモ:{{n["GetOutMemo"]}}
                        <br>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button block (click)="showViaGoogleMap($event,date,number)">経路をGoogle Mapで表示する</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="warning">
                        「場所」の後ろに*印がある記録は住所を取得してから時間がかかっているため、実際の場所と異なる可能性が高いです。「データを修正する」を選択すると、Google Mapで実際の位置を表示出来ますので、必要であればその情報を参考にして「場所」を書き換えてください。
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button block color="secondary" (click)="updateData($event,date,number);">データを修正する</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button block color="default" (click)="tweetData($event,date,number);"><ion-icon name="twitter"></ion-icon>Tweetする</button>
                        <p class="waring">住所や地図を含め、お客様の個人情報にならないように注意してください。</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>