<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>乗務履歴: {{date}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3>乗務履歴: {{date}}</h3>
    <p>{{date}}の乗務履歴
        <!-- <button ion-button block class="logSelect" (click)="popView()">戻る</button> -->
    </p>
    <!-- LOG -->
    <ion-grid *ngIf="hasHistory">
        <ion-row *ngFor="let n of history" align-items-start>
            <ion-col col-1>
                <button ion-button block class="logSelect" (click)="showDetail($event, date, n.Number)">{{n["Number"]}}</button>

                <!-- <button ion-button block class="logSelect" (click)="popView()">戻る</button> -->
            </ion-col>
            <ion-col col-11 class="logCol">
                <div>{{n["GetInTime"]}} {{n["GetInAddress"]}}</div>
                <span *ngFor="let x of viaHistory">
                    <div *ngIf="n['Number'] == x['history']">
                        {{x["time"]}} {{x["address"]}}
                    </div>
                </span>
                <div>{{n["GetOutTime"]}} {{n["GetOutAddress"]}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="warning">
                住所の後ろに*印がある記録は住所を取得してから時間がかかっているため、実際の場所と異なる可能性が高いです。乗務履歴の番号ボタンをタップして「データを修正する」を選択すると、Google Mapで実際の位置を表示出来ますので、必要であればその情報を参考にして「場所」を書き換えてください。
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button block [disabled]="isExporting" color="danger" (click)="deleteHistoryData()">この履歴を削除する</button>
                <button ion-button block [disabled]="isExporting" (click)="exportHistoryData()">この履歴をファイルに書き出す</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- /LOG -->
    <!-- <div *ngIf="!hasHistory" text-center class="warning">
        {{date}}の乗務履歴はありません。
    </div> -->
</ion-content>