<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>設定</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>設定</h3>
    <h4>Taxi Logger画面設定</h4>
    チェックした項目をTaxi Logger画面に表示します。
    <ion-item>
        <ion-label>GPSの高度の表示
            <p class="warning">端末が対応していないと0mになります。</p>
        </ion-label>
        <ion-checkbox [(ngModel)]="isShowAltitude" (ionChange)="updateShowAltitude()"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>トランク使用中のリマインダ</ion-label>
        <ion-checkbox [(ngModel)]="isRemindUsingTrunkRoom" [disabled]="isRemindUsingTrunkRoom && isUsingTrunkRoom" (ionChange)="updateUsingTrunkRoom()"></ion-checkbox>
    </ion-item>
    <!--
    <ion-item>
        <ion-label>BGMの再生/停止
            <p class="warning">可能であれば実装します</p>
        </ion-label>
        <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item>
-->
    <h4>連続走行時間</h4>
    何分連続して休憩すると連続走行時間をリセットするかを選択します。<br>
    <select [(ngModel)]="brSelected" (change)="brOptionChange($event.target.value)">
        <option *ngFor="let n of breakSelect; let j=index;" value="{{j}}">{{n}}</option>
    </select> (HH:MM)
    <h4>営業区域</h4>
    営業区域を設定します。<br>
    <select [(ngModel)]="regSelected" (change)="regOptionChange($event.target.value)">
        <option *ngFor="let n of regionSelect; let j=index;" value="{{j}}">{{n}}</option>
    </select>
    <h4>リンクリスト</h4>
    リンクリストの定義ファイルを取り込みます。<br>
    <button ion-button (click)="loadUrlList()">ファイル選択</button>
</ion-content>