<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>設定</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3>設定</h3>
    <ion-list>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpAltitude()"><ion-icon name="help"></ion-icon></button>
            <ion-label>GPSの高度の表示
            </ion-label>
            <ion-toggle [(ngModel)]="isShowAltitude" (ionChange)="updateShowAltitude()"></ion-toggle>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpRemindUsingTrunkRoom()"><ion-icon name="help"></ion-icon></button>
            <ion-label>トランク使用中のリマインダ</ion-label>
            <ion-toggle [(ngModel)]="isRemindUsingTrunkRoom" [disabled]="isRemindUsingTrunkRoom && isUsingTrunkRoom" (ionChange)="updateUsingTrunkRoom()"></ion-toggle>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpZipCloud()"><ion-icon name="help"></ion-icon></button>
            <ion-label>郵便番号検索APIの利用
            </ion-label>
            <ion-toggle [(ngModel)]="isUseZipCloud" (ionChange)="updateUsingZipCloud()"></ion-toggle>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpBrOptionChange()"><ion-icon name="help"></ion-icon></button>
            <ion-label>連続走行時間(HH:MM)
            </ion-label>
            <ion-select style="width:0px;margin:0px;padding:0px;visibility: hidden">
            </ion-select>
            <ion-select [(ngModel)]="brSelected" (ionChange)="brOptionChange($event)">
                <ion-option *ngFor="let n of breakSelect; let j=index;" value="{{j}}">{{n}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpRegOptionChange()"><ion-icon name="help"></ion-icon></button>
            <ion-label>営業区域</ion-label>
            <ion-select style="width:0px;margin:0px;padding:0px;visibility: hidden">
            </ion-select>
            <ion-select [(ngModel)]="regSelected" (ionChange)="regOptionChange($event)">
                <ion-option *ngFor="let n of regionSelect; let j=index;" value="{{j}}">{{n}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpLoadList('linklist')"><ion-icon name="help"></ion-icon></button>
            <ion-label>リンクリスト
            </ion-label>
            <button ion-button small item-end (click)="loadList('linklist')">ファイル選択</button>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpLoadList('phonebook')"><ion-icon name="help"></ion-icon></button>
            <ion-label>電話帳
            </ion-label>
            <button ion-button small item-end (click)="loadList('phonebook')">ファイル選択</button>
        </ion-item>
        <ion-item>
            <button ion-button icon-only small item-start (click)="helpLoadList('memo')"><ion-icon name="help"></ion-icon></button>
            <ion-label>メモ
            </ion-label>
            <button ion-button small item-end (click)="loadList('memo')">ファイル選択</button>
        </ion-item>
    </ion-list>
</ion-content>