<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>リンクリスト</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="!hasLinkList">
        <p>リンクリストを作成して設定から読み込むと、その内容でこのページを置き換えます。</p>
    </div>
    <div *ngIf="hasLinkList">
        <ion-item-group *ngFor="let n of linklist; let i=index; let first=first; let last=last">
            <ion-item-divider color="light">{{n['category']}}</ion-item-divider>
            <ion-item *ngFor="let m of n['item']; let j=index; let first=first; let last=last">
                <button ion-button large clear (click)="openUrl(n['item'][j]['url'])">{{n['item'][j]['title']}}</button>
                <p class="desc" *ngIf="n['item'][j]['desc']">{{n['item'][j]['desc']}}</p>
            </ion-item>
        </ion-item-group>
    </div>
    <hr>
    <p><a href='https://github.com/yoshinari/taxi-logger/blob/master/sample_linklist.json'>サンプル</a><br> ※文字コード:UTF-8のjsonファイル形式で作成してください。
    </p>
</ion-content>